/deques
/deques.cmi
/deques.cmo
/deques.mli
/jacm-final.pdf
/jacm-final-page*.pdf
/jacm-final-crop-*-*-*-*-page*.pdf
/jacm-final-crop-*-*-*-*-page*.png
/deques.html
/doc
/deques.d
/deques.color.html
/deques.html